@{
    ViewData["Title"] = "Autor";
}

<div style="display:flex; justify-content:center; align-items:center; height:100vh; font-size:3rem; font-weight:bold;">
    Autorzy: <br />Grzegorz Smardzewski<br />
    Mateusz Matusiak
</div>