@using System.Collections
@model System.Collections.Hashtable
@{
    ViewData["Title"] = "Podsumowanie wydatków";
}

<div>
    <h2 class="text-center">Podsumowanie wydatków</h2>
    <table class="table table-dark table-striped table-hover rounded">
        <thead>
            <tr>
                 <th>Kategoria</th>
                <th>Kwota</th>
           </tr>
        </thead>
        <tbody>
            @foreach(var e in Model)
            {
                var E = (DictionaryEntry)e;
                var Kwota = (double)(E.Value);
                <tr>
                    <td>
                        <a asp-action="Category" asp-route-kategoria="@E.Key" class="btn text-white">
                            @E.Key
                       </a>
                    </td>
                    <td>@Kwota.ToString("C")</td>
                </tr>
           }
        </tbody>
    </table>
</div>